body {
    background-color: gray;
    color: black;
    font-family: Helvetica, 'Times New Roman', sans-serif ;
}

h1 {
    text-align: center;
    font-weight: bold;
}
ul.nav {
    margin: 15px;
    list-style: none;
}
ul.nav li{
    margin: 5px;

}
li.home {
padding-left: 10px;
}

li.steak {
    padding-left: 20px;
}

li.chicken {
    padding-left: 30px;
}

li.fish {
    padding-left: 40px;
}

ul li a {
    color: whitesmoke;
}

 img.fish {
    width: 375px;
    height:250px ;
 }

figcaption {
    font-size: 12px;
    font-style: italic;
}

body p {
    text-align: center;
    font-size: 16px;
}

ul.ingredients li {
    font-weight: bold;
}

 h3#steps {
    text-decoration: underline;
 }

.steakSteps {
    color: blue;
 }